* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    list-style-type: none;
}
.tareas {
    background-color: #E8C07D;
    border-radius: 5px;
}
.tareas-title {
    display: flex;
    justify-content: center;
}
.landing-img {
    width: 100%;
}
nav {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(191, 191, 191, 0.454);
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav {
    display: flex;
    justify-content: baseline;
}
.navbar-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img-container {
    position: relative;
    text-align: center;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-weight: bold;
    font-size: 50px;
    text-align: end;
    color: rgb(22, 22, 57);
  }
.nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 10px;
}
.nav-link:hover {
    color: rgb(24, 24, 37)
}
.logo {
    max-width: 50px;
    max-height: 50px;
}
button {
    border-radius: 10px;
    border: 1px solid grey;
}
h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}
.calendario-section {
    margin: 30px 0;
}
.calendario-container {
    display: flex;
    justify-content: center;
}
.calendario {
    width: 1000px;
    height: 100vh;
    
}
.feriados-container {
    margin: 100px 50px;
    background-color: rgb(22, 22, 57);
    border-radius: 5px;
}
.feriados {
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
}
.notas {
    margin-bottom: 50px;
}
.calendario-title {
    font-size: 30px;
}
.start-container {
    display: flex;
    justify-content: center;
    
}
.about-us {
    margin-top: 60px;
}
.p-aboutus {
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.aboutus-main {
    display: flex;
    justify-content: center;
}
.office2 {
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 10px;
}
.office {
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.office-container {
    display: flex;
    justify-content: center;
}
.start {
    border-radius: 5px;
    border: 1px rgb(22, 22, 57) solid;
    padding: 5px;
}

.feriado-txt {
    color: white;
}
h4 {
    color: white;
}









.popper,
  .tooltip {
    position: absolute;
    z-index: 9999;
    background: rgb(22, 22, 57);
    color: white;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
  }
  .style5 .tooltip {
    background: whitesmoke;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
  }
  .popper .popper__arrow,
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  .tooltip .tooltip-arrow,
  .popper .popper__arrow {
    border-color: rgb(22, 22, 57);
  }
  .style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
  }
  .popper[x-placement^="top"],
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }
  .popper[x-placement^="top"] .popper__arrow,
  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .popper[x-placement^="bottom"],
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }
  .tooltip[x-placement^="bottom"] .tooltip-arrow,
  .popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .tooltip[x-placement^="right"],
  .popper[x-placement^="right"] {
    margin-left: 5px;
  }
  .popper[x-placement^="right"] .popper__arrow,
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  .popper[x-placement^="left"],
  .tooltip[x-placement^="left"] {
    margin-right: 5px;
  }
  .popper[x-placement^="left"] .popper__arrow,
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }